.footer-info{
    width: 100%;
    padding: 18px 0;
}
.footer-info__list{
    list-style: none;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-family: Gilroy;
}

.footer-info__item{
    display: flex;
}
.footer-info__item a{
    text-decoration: none;
    color:white;
}
.footer-info__item .rsschoolicon{
    position: relative;
}
.footer-info__item .rsschoolicon a{
    position: absolute;
    left:0;
    width: 100%;
    height: 100%;
}
.footer-info__item .rsschoolicon::before{
    content: url(../assets/svg/rsSchoolIcon.svg);
}

.footer-info__item .author{
    margin-right: 60px;
}